<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="conn" connectionString="Data Source=DESKTOP-O7DL3PI\SQLEXPRESS;Initial Catalog=ComicBookStore;Integrated Security=True"/>
  </connectionStrings>

  <appSettings>

    <add key ="campuriT2" value="price,comic,client,staffMember,id"/>
    <add key ="tipuriDateCampuriT2" value="int,int,int,int,int"/>
    <add key ="parametriiSql" value="@price,@comic,@client,@staffMember,@id"/>


    <add key ="selectElemsT1" value="Select * from Staff"/>

    <add key="selectElTab2ByIdElTab1" value="Select * from Tranzactions where staffMember=@id"/>
    <add key="idTab1" value="@id"/>

    <add key="insertElTab2CommandString" value="Insert into Tranzactions(price,comic,client,staffMember,id) values (@price,@comic,@client,@staffMember,@id)"/>

    <add key="deleteCommandString" value="Delete from Tranzactions where id=@id"/>

    <add key="updateCommandString" value="Update Tranzactions set price=@price,comic=@comic,client=@client,staffMember=@staffMember where id=@id"/>

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>